.materialContainer{
  background-color: #fff; 
  padding: 15px;
  border-radius: 10px;
}

.materialSearch{
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  padding-bottom: 20px;
}