.productContainer{
  /* background-color: #ccc; */
  background-color: #f1f1f1;
  border-radius: 10px;

}

.headerProductContainer{
  padding: 10px;
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.headerProduct{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.inputSearch{
  width: 50%;
  margin-right: 10px;
  padding: 5px;
}

.btnSearchProduct{
  margin-left: 15px ;

}



.searchContainer{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.status-label {
  margin-right: 10px;
  font-weight: bold;
}

.radioContainer{
  display: flex;
  /* padding: 10px; */
  margin-right: 10px;
  border-radius: 10px;
  /* border: 1px solid #ccc; */
  width: 50%;
  justify-content: space-evenly;
  padding-bottom: 0px;
  padding-left: 20px; 
}



.containerTable{
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin: 10px;
}

.contanerAddProduct{
  display: flex;
  justify-content: flex-end;

}

.btnAddProduct{
  margin: 25px 20px 5px 0px;
}

.tableProduct{
  margin-top: 30px;
  padding: 10px;
  margin: 10px;
  background-color: #fff;
  
}

.containerSearchReset{
  display: flex;
  justify-content: flex-end;
  
  margin-right: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}