/* .container {
  width: 1366.4px;
  background: #fff;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  float: inline-end;
}
.creatDetailProduct {
  display: block;
  align-items: center;
  width: 100%;
}

.showDetailProduct {
  text-align: center;
  display: block;
  padding-top: 30px;
}
h3 {
  border-top: #ccc 1px solid;
} */
