.modalDetailContainer {
  display: flex;
  flex-wrap: nowrap; /* Prevent wrapping */
  justify-content: space-between; /* Ensure items are evenly distributed */
  gap: 20px; /* Add some space between the containers */
  width: 100%; /* Ensure full width */
}

.imgContainer {
  width: 150px; /* Fix the width */
  height: 150px; /* Set the height */
  background-color: lightgray; /* For visualization */
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 50% ;
}

.selectContainerLeft,
.selectContainerRight {
  display: flex;
  flex-direction: column; /* Stack the selects vertically */
  gap: 10px; /* Space between selects */
  flex: 1; /* Allow these to grow and take up available space */
  max-width: 40%; /* Ensure each container takes up no more than 45% of the width */
  margin-top: 10px;
  margin-bottom: 10px;
}

.selectContainer{
  width: 100%; /* Ensure full width */
}