.employeeContainer {
  
}

.AddEmployeeBtnContainer {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}

.searchContainer{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  gap: 20px; /* Khoảng cách giữa các phần tử */
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 8px; /* Bo góc */
  background-color: #fff;
}

/* Input tìm kiếm */
.inputSearch {
  width: 50%;
  padding: 5px;
  border-radius: 4px;
}

/* Label của trạng thái */
.statusLabel {
  margin-right: 10px;
  font-weight: bold;
  color: #333; /* Màu chữ */
}

.containerSearchReset{
  display: flex;
  justify-content: flex-end;
  
  margin-right: 20px;
  margin-bottom: 25px;
  margin-top: 10px;
}

.selectSearch{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 25px;
}

.btnSearchProduct{
  margin-left: 15px ;

} 